.git/
.gitignore
.dockerignore
.env
.env.*
__pycache__/
*.py[cod]
*.egg-info/
*.egg
dist/
build/
.venv/
venv/
env/
db.sqlite3
docs/
Dockerfile
docker-compose.yml
.DS_Store
*.log
*.pot
staticfiles/
mediafiles/
README.md
celerybeat-schedule
